html, body {
  margin: 0px;
  border: 0;
  display: block;  /* No floating content on sides */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {

  /* border: 1px solid black */
}

.screens {
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  width: 100vw;


}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
}


.gameTitle {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  
}

.background-GIF {
  background-image: url('Images/NightFever.gif');
  background-size: cover
  
}

.game {

}